@tailwind base;
@tailwind components;
@tailwind utilities;



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.header > ul {
    display: flex;
    margin: 0 50px;
    
}
.header >ul >li{
    margin: 0px 10px;
    list-style: none;
}
.logo{
    height: 150px;
}
.cardcontainer{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 15px;
    height: 350px;
    width: 200px;
    background-color: #f0f0f0;
    padding: 5px;
}
.card:hover{
    border: 2px solid black;
    cursor: pointer;
}
.card>h4{
    margin:  5px 10px;
}
.search{
    padding: 5px;
}
.card-img{
    
    width: 100%;
    
}
.filter-btn{
    margin: 10px ;
   /* padding: 5px;*/
   cursor: pointer;
}
.reset{
    margin: 10px;
    width: 100px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 300px;
}
.login{
    width: 50px;
    background-color: #f0f0f0;  
    cursor: pointer;
    
}
.user-card{
    border: solid black 2px;
    margin: 5px;
}
